@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    display: flex;
    background-color: #e8fdfd;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header{
    padding: 20px 600px;
    display: flex;
    align-items: center;
    justify-content: end;
    font-weight: 600;
    border-bottom: 1px solid rgb(30, 28, 121, 0.1);
    width: 100%;
}

header .colunas{
    display: flex;
    gap: 16px;
    color: white;
}

header .colunas a{
    transition: color 0.3s ease;
    text-decoration: none;
    color: #7482cf;
}

header .colunas a:hover,
header .colunas a.selected{
    color: #1e2e99;
}

/* Conhecimentos */
.meus-conhecimentos{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 35px;
    padding: 25px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding-inline: 250px;
}
.meus-conhecimentos .conhecimento{
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}
.meus-conhecimentos img{
    width: 100px;
    height: 100px;
    border-radius: 10%;
    filter: drop-shadow(1px 1px 1px rgba(1, 1, 1, 1));
}
.meus-conhecimentos .conhecimento:hover img{
    filter: drop-shadow(5px 5px 5px rgba(1, 1, 1, 1));
    cursor: pointer;
}
.meus-conhecimentos p{
    font-size: 25px;
    color: #172368;
    font-weight: 500;
    text-align: center;

}
.index-projects, .index-conhecimentos, .index-me{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 1620px;
    border-bottom: 1px solid rgb(90, 103, 187, 0.5);
    margin-inline: 10px;
}
.main-projects{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
    padding-inline: 250px;
}

.main-projects .main-project{
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 500px;
    border-radius: 8px;
    background-color: rgb(236, 236, 236);
    padding: 20px;
}

.main-project:hover{
    cursor: pointer;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 1));
}

.main-project:hover img{
    filter: drop-shadow(5px 5px 10px rgba(1, 1, 1, 1));
}

.main-project h3{
    font-size: 30px;
    padding: 0px 10px;
    margin-top: 10px;
    font-weight: 700;
}

.main-project .info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.main-projects .main-project img{
    width: 320px;
    padding: 5px;
    border-radius: 15px;
}

.main-projects .main-project .info .language{
    padding: 3px 14px;
    border-radius: 16px;
    font-size: 16px;
    font-weight: bold;
    width: 110px;
    text-align: center;
    margin-inline: 15px;
}

.main-project .info .txt{
    margin-top: 20px;
    height: 90px;

}
.sub-title{
    padding: 15px 254px 15px;
    width: 100%;
    font-size: 30px;
    font-weight: 600;
    color: #172368;
}
.main-project .badge{
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 300px;
    justify-content: center;
    margin-top: 5px;
}
.main-project .buttons{
    text-decoration: none;
    align-items: end;
    display: flex;
    flex-direction: row;
    width: 300px;
    justify-content: center;
    margin-top: 5px;
}
.main-project .buttons a{
    margin-inline: 15px;
}
.page-title{
    padding: 80px 234px 20px;
    width: 100%;
}

footer{
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .socials{
    display: flex;
    align-items: center;
    gap: 28px;
    margin-bottom: 20px;
}

footer .socials i{
    font-size: 40px;
    cursor: pointer;
    color: rgb(90, 103, 187);
    transition: color 0.3s ease;
}

footer .socials i:hover{
    color: #303f9f;
}

footer p{
    font-size: 14px;
}

/* Projetos */
.container{
    padding: 30px 148px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.projects .item{
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    padding-inline: 30px;
    width: 1200px;
    border-bottom: 2px solid #8e97cf;
    position: relative;
}

.projects .item img{
    width: 424px;
    height: 240px;
    border-radius: 6px;
    transition: all 0.5s ease-in-out;
}

.projects .item img:hover{
    cursor: pointer;
    transition: all 0.3s ease;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 1));
}

.projects .item h2{
    font-size: 30px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.projects .item .details .item-info{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.item .language{
    padding: 3px 14px;
    border-radius: 16px;
    font-size: 16px;
    font-weight: bold;
}

.Javascript{
    background-color: rgb(251, 255, 17);
    color: black;
}

.Python{
    background-color: #1e2e99;
    color: white;
}

.Swift{
    background-color: rgb(250, 96, 40);
    color: white;
}
.Aplicativo{
    background-color: rgb(20, 153, 38);
    color: white;
}
.Java{
    background-color: rgb(192, 0, 0);
    color: white;
}
.item .item-end{
    position: absolute;
    bottom: 0;
    align-items: end;
    display: flex;
    width:  680px;
    margin-bottom: 35px;
    justify-content: space-between;
}
.item .item-end p{
    font-weight: 500;
    font-size: 25px;
}
.main-project .buttons a,
.item .buttons a{
    display: inline-block;
    padding: 6px 10px;
    background-color: #7482cf;
    color:#fff;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 20px;
    transition: all 0.1s ease;
}

.btn-final{
    display: inline-block;
    padding: 10px;
    background-color: #172368;
    color:#fff;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    border-radius: 6px;
    margin-top: 20px;
    transition: all 0.1s ease;
}
.btn-final:hover{
    background-color: #681732;
    transform: translateY(-3px);
}
.main-project .buttons a:hover,
.item .buttons a:hover{
    background-color: #2b3a96;
    box-shadow: 0px 7px 29px 0px rgba(100,100,111,0.2);
}
